.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 150px;
    font-size: 2rem;
    font-weight: bold;
    color: #ff1156;
}